<div class="form-container">
  <h2>Login</h2>
  <form (submit)="onLogin($event)">
    <!-- Email Input -->
    <input
      type="email"
      placeholder="Email"
      name="email"
      required
      [(ngModel)]="email"
    />

    <!-- Password Input -->
    <input
      type="password"
      placeholder="Password"
      name="password"
      [(ngModel)]="password"
      required
    />

    <button type="submit" class="btn btn-primary">Login</button>
  </form>

  <!-- Error Message -->
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</div>
